{<<"app">>,<<"amqp">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"contributors">>,[<<"Paulo Almeida">>,<<"Eduardo Gurgel">>]}.
{<<"description">>,<<"Idiomatic Elixir client for RabbitMQ.\n">>}.
{<<"elixir">>,<<"~> 1.0.0-rc2">>}.
{<<"files">>,
 [<<"lib/amqp.ex">>,<<"lib/amqp/basic.ex">>,<<"lib/amqp/channel.ex">>,
  <<"lib/amqp/confirm.ex">>,<<"lib/amqp/connection.ex">>,
  <<"lib/amqp/core.ex">>,<<"lib/amqp/exchange.ex">>,<<"lib/amqp/queue.ex">>,
  <<"mix.exs">>,<<"README.md">>,<<"LICENSE">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,#{<<"GitHub">> => <<"https://github.com/pma/amqp">>}}.
{<<"requirements">>,
 #{<<"amqp_client">> => #{<<"optional">> => nil,<<"requirement">> => <<"~> 3.0">>}}}.
{<<"version">>,<<"0.0.4">>}.
