{<<"app">>,<<"logger_json">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,
 <<"Console Logger back-end, Plug and Ecto.LogEntry adapter that writes logs in JSON format.">>}.
{<<"elixir">>,<<"~> 1.5">>}.
{<<"files">>,
 [<<"lib/logger_json.ex">>,<<"lib/logger_json/ecto.ex">>,
  <<"lib/logger_json/formatter.ex">>,
  <<"lib/logger_json/formatters/google_cloud_logger.ex">>,
  <<"lib/logger_json/plug.ex">>,<<"LICENSE.md">>,<<"mix.exs">>,
  <<"README.md">>]}.
{<<"licenses">>,[<<"MIT">>,<<"LISENSE.md">>]}.
{<<"links">>,[{<<"github">>,<<"https://github.com/Nebo15/logger_json">>}]}.
{<<"maintainers">>,[<<"Nebo #15">>]}.
{<<"name">>,<<"logger_json">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"poison">>},
   {<<"name">>,<<"poison">>},
   {<<"optional">>,true},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 3.1">>}],
  [{<<"app">>,<<"ecto">>},
   {<<"name">>,<<"ecto">>},
   {<<"optional">>,true},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.1">>}],
  [{<<"app">>,<<"plug">>},
   {<<"name">>,<<"plug">>},
   {<<"optional">>,true},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.0">>}]]}.
{<<"version">>,<<"1.0.0">>}.
