{<<"name">>,<<"achlys">>}.
{<<"version">>,<<"0.2.0">>}.
{<<"requirements">>,
 #{<<"grisp">> =>
       #{<<"app">> => <<"grisp">>,<<"optional">> => false,
         <<"requirement">> => <<"~>1.1.4">>},
   <<"lager">> =>
       #{<<"app">> => <<"lager">>,<<"optional">> => false,
         <<"requirement">> => <<"~>3.6.7">>},
   <<"lasp">> =>
       #{<<"app">> => <<"lasp">>,<<"optional">> => false,
         <<"requirement">> => <<"~>0.8.2">>},
   <<"partisan">> =>
       #{<<"app">> => <<"partisan">>,<<"optional">> => false,
         <<"requirement">> => <<"~>3.0.0">>}}}.
{<<"app">>,<<"achlys">>}.
{<<"maintainers">>,[<<"Igor Kopestenski">>]}.
{<<"precompiled">>,false}.
{<<"description">>,
 <<"A framework for applications using Lasp\n    on GRiSP embedded systems at the edge">>}.
{<<"files">>,
 [<<"src/achlys.app.src">>,<<"LICENSE">>,<<"Makefile">>,<<"README.md">>,
  <<"grisp/grisp_base/files/erl_inetrc">>,
  <<"grisp/grisp_base/files/grisp.ini.mustache">>,<<"rebar.lock">>,
  <<"src/achlys.erl">>,<<"src/achlys_app.erl">>,<<"src/achlys_cleaner.erl">>,
  <<"src/achlys_config.erl">>,<<"src/achlys_pmod_als_worker.erl">>,
  <<"src/achlys_pmod_nav_worker.erl">>,<<"src/achlys_sensor_commander.erl">>,
  <<"src/achlys_squadron_leader.erl">>,<<"src/achlys_sup.erl">>,
  <<"src/achlys_task_server.erl">>,<<"src/achlys_task_worker.erl">>,
  <<"src/achlys_util.erl">>,<<"tools.mk">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/Laymer/achlys">>},
  {<<"GRiSP">>,<<"https://www.grisp.org">>},
  {<<"Lasp">>,<<"https://lasp-lang.readme.io">>},
  {<<"LightKone">>,<<"https://lightkone.eu/">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
