{<<"name">>,<<"apns4erl">>}.
{<<"version">>,<<"2.1.1">>}.
{<<"requirements">>,
 #{<<"base64url">> =>
       #{<<"app">> => <<"base64url">>,<<"optional">> => false,
         <<"requirement">> => <<"0.0.1">>},
   <<"chatterbox">> =>
       #{<<"app">> => <<"chatterbox">>,<<"optional">> => false,
         <<"requirement">> => <<"0.4.2">>},
   <<"jsx">> =>
       #{<<"app">> => <<"jsx">>,<<"optional">> => false,
         <<"requirement">> => <<"2.8.1">>}}}.
{<<"app">>,<<"apns">>}.
{<<"maintainers">>,[<<"Inaka">>]}.
{<<"precompiled">>,false}.
{<<"description">>,
 <<"APNs provider for Apple Push Notification services (APNs) in Erlang. It supports the HTTP2 API.">>}.
{<<"files">>,
 [<<"src/apns.app.src">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/apns.erl">>,<<"src/apns_app.erl">>,<<"src/apns_connection.erl">>,
  <<"src/apns_feedback.erl">>,<<"src/apns_os.erl">>,<<"src/apns_sup.erl">>,
  <<"src/apns_utils.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/inaka/apns4erl">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
