{<<"name">>,<<"zstd">>}.
{<<"version">>,<<"0.1.1">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"zstd">>}.
{<<"maintainers">>,[<<"Yuki Ito">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Zstd binding for Erlang/Elixir">>}.
{<<"files">>,
 [<<"src/zstd.app.src">>,<<"LICENSE">>,<<"README.md">>,<<"c_src/Makefile">>,
  <<"c_src/zstd_nif.c">>,<<"priv/libzstd/.gitignore">>,
  <<"priv/libzstd/Makefile">>,<<"priv/libzstd/README.md">>,
  <<"priv/libzstd/common/bitstream.h">>,
  <<"priv/libzstd/common/entropy_common.c">>,
  <<"priv/libzstd/common/error_private.h">>,
  <<"priv/libzstd/common/error_public.h">>,<<"priv/libzstd/common/fse.h">>,
  <<"priv/libzstd/common/fse_decompress.c">>,<<"priv/libzstd/common/huf.h">>,
  <<"priv/libzstd/common/mem.h">>,<<"priv/libzstd/common/xxhash.c">>,
  <<"priv/libzstd/common/xxhash.h">>,<<"priv/libzstd/common/zbuff.h">>,
  <<"priv/libzstd/common/zstd_common.c">>,
  <<"priv/libzstd/common/zstd_internal.h">>,
  <<"priv/libzstd/compress/fse_compress.c">>,
  <<"priv/libzstd/compress/huf_compress.c">>,
  <<"priv/libzstd/compress/zbuff_compress.c">>,
  <<"priv/libzstd/compress/zstd_compress.c">>,
  <<"priv/libzstd/compress/zstd_opt.h">>,
  <<"priv/libzstd/decompress/huf_decompress.c">>,
  <<"priv/libzstd/decompress/zbuff_decompress.c">>,
  <<"priv/libzstd/decompress/zstd_decompress.c">>,
  <<"priv/libzstd/dictBuilder/divsufsort.c">>,
  <<"priv/libzstd/dictBuilder/divsufsort.h">>,
  <<"priv/libzstd/dictBuilder/zdict.c">>,
  <<"priv/libzstd/dictBuilder/zdict.h">>,
  <<"priv/libzstd/legacy/zstd_legacy.h">>,
  <<"priv/libzstd/legacy/zstd_v01.c">>,<<"priv/libzstd/legacy/zstd_v01.h">>,
  <<"priv/libzstd/legacy/zstd_v02.c">>,<<"priv/libzstd/legacy/zstd_v02.h">>,
  <<"priv/libzstd/legacy/zstd_v03.c">>,<<"priv/libzstd/legacy/zstd_v03.h">>,
  <<"priv/libzstd/legacy/zstd_v04.c">>,<<"priv/libzstd/legacy/zstd_v04.h">>,
  <<"priv/libzstd/legacy/zstd_v05.c">>,<<"priv/libzstd/legacy/zstd_v05.h">>,
  <<"priv/libzstd/legacy/zstd_v06.c">>,<<"priv/libzstd/legacy/zstd_v06.h">>,
  <<"priv/libzstd/legacy/zstd_v07.c">>,<<"priv/libzstd/legacy/zstd_v07.h">>,
  <<"priv/libzstd/libzstd.pc.in">>,<<"priv/libzstd/zstd.h">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/zstd.erl">>]}.
{<<"licenses">>,[<<"BSD">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/mururu/zstd-erlang">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
