{<<"app">>,<<"webdriver">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"contributors">>,[<<"Stuart Coyle">>,<<"Carl Woodward">>]}.
{<<"description">>,<<"Webdriver protocol for driving web browsers.">>}.
{<<"files">>,
 [<<"lib/mix/tasks/webdriver.ex">>,<<"lib/webdriver.ex">>,
  <<"lib/webdriver/browser.ex">>,<<"lib/webdriver/browser_sup.ex">>,
  <<"lib/webdriver/capabilities.ex">>,<<"lib/webdriver/chrome/port.ex">>,
  <<"lib/webdriver/cookie.ex">>,<<"lib/webdriver/element.ex">>,
  <<"lib/webdriver/error.ex">>,<<"lib/webdriver/firefox/port.ex">>,
  <<"lib/webdriver/firefox/prefs.json">>,
  <<"lib/webdriver/firefox/profile.ex">>,<<"lib/webdriver/firefox/shim.sh">>,
  <<"lib/webdriver/keys.ex">>,<<"lib/webdriver/mouse.ex">>,
  <<"lib/webdriver/phantomjs/port.ex">>,<<"lib/webdriver/port_finder.ex">>,
  <<"lib/webdriver/protocol.ex">>,<<"lib/webdriver/remote/port.ex">>,
  <<"lib/webdriver/session.ex">>,<<"lib/webdriver/session_sup.ex">>,
  <<"lib/webdriver/supervisor.ex">>,<<"mix.exs">>,<<"README.md">>,
  <<"LICENSE">>]}.
{<<"licenses">>,[<<"MIT License">>]}.
{<<"links">>,
 #{<<"Docs">> => <<"http://stuart.github.io/elixir-webdriver/">>,
   <<"GitHub">> => <<"https://github.com/stuart/elixir-webdriver">>}}.
{<<"requirements">>,
 #{<<"earmark">> => #{<<"optional">> => nil,<<"requirement">> => <<"~>0.1.10">>},
   <<"ex_doc">> => #{<<"optional">> => nil,<<"requirement">> => <<"~>0.5.2">>},
   <<"httpotion">> => #{<<"optional">> => nil,<<"requirement">> => <<"~> 0.2.4">>},
   <<"jazz">> => #{<<"optional">> => nil,<<"requirement">> => <<"~> 0.2.0">>}}}.
{<<"version">>,<<"0.6.0">>}.
